@import '../../../style/variables.scss';

.comic {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 50px;

    &__cover {
        width: 293px;
        height: 450px;
    }

    &__title {
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
    }

    &__info {
        width: 550px;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    }

    &__price {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;

        color: #9F0013;
    }

    p {
        margin-top: 25px;
        &:first-child {
            margin-top: 0;
        }
    }

    &__back-btn {
        text-decoration: none;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        margin-top: 3px;
        
        &:hover {
            color: $main-color;
        }
    }
}